
/* Q1 */

/* .alert.success {
  color: yellowgreen;
} */

/* .alert .success {
  color: yellowgreen;
} */

/* .alert, .success {
  color: yellowgreen;
}

.alert--.success {
  color: yellowgreen
} */






/* Q2 */
/* .first.second { color: green}; */
/* div > p { color: green; } */
/* div .second, #first { color: green; } */
/* p:last-child { color: green; } */

/* .first {
  background-color: aqua;
} */


p {
  font-family: 'Times New Roman', Times, serif;
}




/* Q3 */

p { color: grey; }
#red { color: red; }
.blue { color: blue; }
#red .blue { color: magenta; }
.green p { color: lightgreen; }
.green p.blue { color: cyan; }


/* .forum-post {
  font-family: wingdings;
  font-size: 18px;
} */