* {
  box-sizing: border-box;
}

/* The section itself */
.boxes {
  /* makes the <section> a flexbox */
  display: flex;
  
  /* flex-wrap: wrap; */
  justify-content:center;
  /* align-items: center; */

}

/* Each div in the "boxes" section */
section div {
  /* flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0; */

  flex-basis: 150px;
  flex-shrink: 1;
  flex-grow:0;

  padding: .5em;
  background-color: orange;
  border: 2px solid rebeccapurple;
  margin-bottom: .5em;

  margin: 1em;
  /* font-size: 2em; */
}


.e {
  flex-grow: 0;
}

.f {
  /* flex-shrink: 0; */
}


h1, p {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: italic;
}

em {
  display: block;
}

ul {
  font-size: 15px;
}

li {
  display: inline;
  /* display: inline-block; */

  /* border-top: 4px dotted red; */

  /* border: 2px; */
  border: 2px dotted red;

  /* border-top: 4px solid green; */

  padding: 10px;
  padding-right: 30px;

  /* padding: 0.5em; */
  /* padding-right: 3em; */

  margin: 10px;

  /* margin: 1em; */

  background-color: lightblue;

  font-size: 2em;


}

/* .middle {
  background-color: blue;
} */





/* images section */
.images {
  margin: 1em 0;
}

.card {
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 1em;
}

.card img {
  border-radius: 10px 10px 0 0;
  width: 300px;
}


.one, .two {

}

.three {
  color: green;
}