h1 {
	font-size: 30px;
}

h2 {
	font-size: 1.5rem;
	margin-bottom: 0;
}

.card {
	margin-bottom: 1em;
}

.anim {
	transition: transform 2s;
}

.scale-out {
	transform: scale(0); 
}

#face-pic:hover {
	
}
